* {
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar-brand {
    width: 45px;
}
.navbar-brand img {
    width: 100%;
}
.dropdown-menu {
    background-color: #d0e7ff;
}
.contacto a {
    color: green;
}
.form-control {
    width: 60%;
}
.carousel-inner {
    padding: 0 10% 0 10%;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card .pic {
    flex: 1;
}
.card .price{
    flex:1;
}
.footer {
    display: none;
}
@media (min-width: 1025px) {
    .card .price h2 {
        font-size: 2rem;
        line-height: 1.5;
    }
    .card .price h4 {
        font-size: 25px;
        line-height: 1.5;
    }
    .hide {
        display: none;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        position:fixed;
        bottom: 0;
        width: 100%;
        background-color: #d0e7ff;
    }
    .footer pre {
        font-size: 12px;
    }
    .footer a {
        color: green;
    }
}
@media (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}