* {
    margin: 0;
    padding: 0;
    border: 0;
}
.navbar-brand {
    width: 70px;
}
.navbar-brand img {
    width: 60%;
}
.dropdown-menu {
    background-color: #d0e7ff;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card .pic {
    flex: 1;
}
.card .price{
    flex:1;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: #d0e7ff;
}
.footer a {
    color: black;
}
